html,body{
    margin:0;
    padding:0;
}

body {
  /* background: url("World-Map.png") center;
  background-size: cover;
  background-attachment: fixed; */
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 18px;
  background-color: lightgrey;
  background-size: cover;
  background-attachment: fixed;

}

/* main {
  text-align: center;
  width: 100%;
} */

h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  font-size: 26px;
}

button {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  font-size: 14px
}

#canvas {
  margin: 0 auto;
  text-align: center;
}

.image {
  display: none;
}

#infoButton{
	background-color: #D2F92A;
	border-radius: 10px;
	font-family: 'Press Start 2P', cursive;
	padding: 3px 4px;
	border: 3px #E9FA9E outset;
	font-size: 8px;
}

#infoButton:hover {
	cursor: pointer;
	border: 3px #B1C45F inset;
	background-color: #C1DC47;
}

.icon.info {
	filter: none;
}


.question-overlay, .continue-screen {
	visibility: hidden;
	position: absolute;
  background-color: white;
  width: 600px;
	height: 400px;
	top: 145px;
  left: 380px;
	margin: 0 auto;
}

.question-overlay.active, .continue-screen.active {
	/*displays info when "active" class is present*/
	visibility: visible;
	text-align: center;
}

.question-content, .continue-content {
	/*Hides info content when there is no "active" class */
	visibility: hidden;
}

.question-content.active, .continue-content.active {
	/*Shows info content when "active" class is present */
	visibility: visible;
	margin: 10px;
}

/* #info-close, #continue-button {
	padding: 5px 15px;
	background-color: white;
	border: 4px solid black;
	border-radius: 7px;
	position: absolute;
	bottom: 15px;
	left: 42px;
}

#continue-button {
	margin-left: 10px;
} */
